#Git Ignore

# Ignore '__pycache__' directory
__pycache__/

# Ignore VSCode directory
.vscode/

# Ignore swap files (made by GVim)
*.swp

# Ignore virtual environment configuration
pyvenv.cfg

# Ignore Python virtual environment for Linux 
lib/
lib64
bin/
include/
share/

# Ignore Python virtual environment for Windows
Include/
Lib/
Scripts/

# Ignore test.py
# test.py

# Ignore all JSON and data files
*.json
*.csv
